In [1]:
import pandas as pd

In [18]:
df2 = pd.read_csv(r"C:\Users\hp\OneDrive\Desktop\My Desktop\machine learning\Crop Recommendation System\Fertilizer Prediction.csv")
df2.size

891

In [3]:
df2.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [19]:
df3.describe()

,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,New_Soil_type,New_Crop_type
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,30.282828,59.151515,43.181818,18.909091,3.383838,18.606061,2.010101,5.151515
std,3.502304,5.840331,11.271568,11.599693,5.814667,13.476978,1.410565,3.140790
min,25.000000,50.000000,25.000000,4.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,54.000000,34.000000,10.000000,0.000000,9.000000,1.000000,2.000000
50%,30.000000,60.000000,41.000000,13.000000,0.000000,19.000000,2.000000,5.000000
75%,33.000000,64.000000,50.500000,24.000000,7.500000,30.000000,3.000000,8.000000
max,38.000000,72.000000,65.000000,42.000000,19.000000,42.000000,4.000000,10.000000

In [4]:
df2['Crop Type'].unique()

array(['Maize', 'Sugarcane', 'Cotton', 'Tobacco', 'Paddy', 'Barley',
       'Wheat', 'Millets', 'Oil seeds', 'Pulses', 'Ground Nuts'],
      dtype=object)

In [5]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [6]:
le = LabelEncoder()
df2['New_Soil_type'] = le.fit_transform(df2['Soil Type'])
df2.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name,New_Soil_type
0,26,52,38,Sandy,Maize,37,0,0,Urea,4
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP,2
2,34,65,62,Black,Cotton,7,9,30,14-35-14,0
3,32,62,34,Red,Tobacco,22,0,20,28-28,3
4,28,54,46,Clayey,Paddy,35,0,0,Urea,1

In [7]:
df2['New_Crop_type'] = le.fit_transform(df2['Crop Type'])

In [8]:
df2.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name,New_Soil_type,New_Crop_type
0,26,52,38,Sandy,Maize,37,0,0,Urea,4,3
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP,2,8
2,34,65,62,Black,Cotton,7,9,30,14-35-14,0,1
3,32,62,34,Red,Tobacco,22,0,20,28-28,3,9
4,28,54,46,Clayey,Paddy,35,0,0,Urea,1,6

In [9]:
df3 = df2

In [10]:
df3 = df3.drop(['Soil Type','Crop Type'],axis=1)
df3.head()

,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,Fertilizer Name,New_Soil_type,New_Crop_type
0,26,52,38,37,0,0,Urea,4,3
1,29,52,45,12,0,36,DAP,2,8
2,34,65,62,7,9,30,14-35-14,0,1
3,32,62,34,22,0,20,28-28,3,9
4,28,54,46,35,0,0,Urea,1,6

In [11]:
x = df3.drop(['Fertilizer Name'],axis=1)
y = df3['Fertilizer Name']

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [13]:
model = RandomForestClassifier()

In [14]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [15]:
model.score(x_train,y_train)

1.0

In [16]:
model.predict(x_test)

array(['28-28', '14-35-14', '20-20', 'Urea', '17-17-17', 'DAP', 'DAP',
       'Urea', 'Urea', '20-20', 'DAP', '14-35-14', '20-20', '10-26-26',
       '28-28', '28-28', '14-35-14', 'Urea', '17-17-17', '17-17-17',
       'DAP', 'Urea', 'Urea', 'DAP', 'Urea'], dtype=object)

In [20]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(x_test)
cm = confusion_matrix(y_pred,y_test)

In [ ]:
import seaborn as sn
sn.heatmap(cm,annot=True)